

/* @font-face {
  font-family: Cute Animal;
  src: local('Cute Animal') url('https://fonts.cdnfonts.com/css/cute-animal');
} */

input {
  height: 24px;
  width: auto;
}

#root {
  max-width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* NavBar */

.navbar {
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: 'CUTE ANIMAL', sans-serif;
}

.navbardiv {
  display: flex;
  justify-content: space-evenly;
  background-color: #CD8C0A;
  margin: 0 auto;
  width: 1550px;
  height: 65px;
}

.navbardiv h4 {
  color: #2D3648;
}

/* Footer */

.footer {
  display: flex;
  justify-content: flex-end;
  background-color: #CD8C0A;
  width: 1550px;
  padding: 20px 40px;
  flex-direction: column;
}

.footer img {
  height: 25px;
}

.firstfooter {
  display: block;
  justify-content: center;
  align-items: center;
}

/*.footer b {
  display: flex;
  justify-content: space-around;
  color:#2D3648;
}

.footer a {
  color:#2D3648;
  display: flex;
  justify-content: space-around;
} */

/* HomePage */





/* Adoption */

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.cardAdoption {
  display: flex;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.cardsText {
  margin-left: 20px;
}

.cardAdoption img {
  width: 400px;
  height: 300px;
  float: left;
  border-radius: 20px;
}

/* Add Pet */

.formAdd {
  display: flex;
}

.labelAdd {
  margin: 8px;
}

#labelPicture {
  margin-right: 8px;
}

#adoption-details {
  width: 100%;
  background-color: #E3D6C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#details-name {
  font-size: 40px;
  color: #2D3648;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#details-picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 500px;
  width: auto;
}
#animal-info {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#details-info {
  width: 100%;
  display: flex;
}
.details-info {
  width: 100%;
  font-size: 17px;
  color: #2D3648;
  display: flex;
  justify-content: center;
}
#details-description {
  font-size: 20px;
  color: #2D3648;
  display: flex;
  display: inline-block;
  width: 800px;
  justify-content: center;
  align-items: center;
}
#popup {
  color: #2D3648;
}
#share-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#facebook-share {
  margin: 15px 5px;
}
#twitter-share {
  margin: 15px 5px;
}
#whatsapp-share {
  margin: 15px 5px;
}
#details-back-button {
  margin: 30px;
}
