

/* @font-face {
  font-family: Cute Animal;
  src: local('Cute Animal') url('https://fonts.cdnfonts.com/css/cute-animal');
} */

body {
  display: block;
  margin: 0;
  background-color: #E3D6C4;
  padding: 0;
  height: 100%;
  top: 0;
}

html {
  margin: 0;
  padding: 0;
}

input {
  height: 24px;
  width: auto;
}

#root {

  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: antiquewhite;
}

.read-the-docs {
  color: #888;
}

/* NavBar */

.navbar {
  padding-bottom: 14px;
  font-family: 'CUTE ANIMAL', sans-serif;
  font-size: 20px;
}

.navbardiv {
  display: flex;
  justify-content: space-evenly;
  background-color: #CD8C0A;
  margin: 0 auto;
  width: auto;
  position: relative;
  top: 0;
}

.navbardiv h4 {
  color: #2D3648;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #CD8C0A;
  padding: 20px 20px;
  flex-direction: row;
  height: 80px;
  margin-top: auto;
  align-items: center;
}

.footer img {
  height: 25px;
}

.firstfooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondfooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstfooter b {
  display: flex;
  justify-content: space-around;
  color:#2D3648;
}

.firstfooter a {
  color:#2D3648;
  display: flex;
  justify-content: space-evenly;
  text-Decoration: none;
} 

.secondfooter a {
  color:#2D3648;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  text-Decoration: none;
}

/* HomePage */

#home-intro {
  font-size: 23px;
}



/* Adoption */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  padding: 10px;
}

.cardAdoption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardsText {
  margin-left: 20px;
  width: 250px;
}

.cardAdoption img {
  width: 350px;
  height: 250px;
  float: left;
  border-radius: 20px;
}

/* Add Pet */

.formAdd {
  display: flex;
  font-size: 14px;
}

.labelAdd {
  margin: 8px;
  display: flex;
}

#labelPicture {
  margin-right: 8px;
}

#adoption-details {
  width: 100%;
  background-color: #E3D6C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#details-name {
  font-size: 23px;
  color: #2D3648;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-picture {
  height: 500px;
  width: auto;
}

#animal-info {
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#details-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details {
  margin: 10px 30px;
}

.details-info {
  width: 100%;
  font-size: 15px;
  color: #2D3648;
  display: flex;
  justify-content: center;
}

#details-description {
  font-size: 18px;
  color: #2D3648;
  margin: 10px;
  display: flex;
  display: inline-block;
  width: 750px;
  justify-content: center;
  align-items: center;
}

#popup {
  color: #2D3648;
}

.popupInfo {
  width: 200px;
  height: auto;
  color: #2D3648;
}

#adopt-button {
  margin: 10px;
  font-size: 14px;
  padding: 10px;
}

#share-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#facebook-share {
  margin: 15px 5px;
}

#twitter-share {
  margin: 15px 5px;
}

#whatsapp-share {
  margin: 15px 5px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  color: black;
  font-size: 16px;
}

#edit-form {
  display: flex;
  margin-bottom: 10px;
}

.editLabel {
  margin: 8px;
  width: 115px;
  display: flex;
}

.labelName {
  font-size: 14px;
  display: flex;
}

#details-back-button {
  margin: 30px;
}

#edit-save {
  margin: 5px;
}

#edit-delete {
  margin: 5px;
}

.standardButton {
  display: flex;
  font-size: 14px;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #2E4057;
  color: white;
  transition-duration: 0.4s;
  font-family: 'Acari Sans Neue', sans-serif;
}

.standardButton:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

.arrow img {
  height: 100px;

}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Picture img {
  height: 340px;
  justify-content: space-evenly;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.carousel-div {
  display: flex;
}

.homepage {
  margin-bottom: 0;
}

.picturediana img {
  height: 200px;
}

.picturerui img {
  height: auto;
  width: 200px;
}

.card {
  padding: 20px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

